body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.7fr 1.7fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav nav"
    "sidebar stage stage"
    "sidebar stage stage"
    "footer footer footer";
}
.nav {
  grid-area: nav;
  height: 100%;
  width: 100%;
}
.sidebar {
  background-color: whitesmoke;
  grid-area: sidebar;
  height: 100%;
  width: 100%;
}
.footer {
  background-color: #333;
  grid-area: footer;
  height: 100%;
  width: 100%;
}
.stage {
  padding: 0.1rem;
  grid-area: stage;
  height: 100%;
  width: 100%;
}

.sidebar-wrap {
  padding:  1rem 0 1rem 0;

  .sidebar-item {
    margin: 1rem 0 1rem 0;
  }
}

.footer {
  display: flex;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}